@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lobster&family=Shadows+Into+Light&display=swap");
* {
  padding: 0px;
  margin: 0px;
  background-color: #171717;
  color: white;
  font-family: "Architects Daughter", cursive;
  font-family: "Lobster", cursive;
  font-family: "Shadows Into Light", cursive;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.input-data {
  width: 99%;
  border: 1px solid white;
  height: 40px;
  margin: 10px;
  margin-left: 0px;
  box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  font-size: 16px;
  margin-bottom: 25px;
  padding-left: 10px;
}

.text-area {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid white;
}
.input {
  margin-left: 10px;
}

.btn-create {
  background-color: #0ea5e8;
  width: 100px;
  height: 40px;
  box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  border: none;
  transition: 0.5s;
}

.btn-create:hover {
  transition: 0.5s;
  box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
  font-size: 17px;
}

.listcard {
  transition: 0.5s;
  width: 350px;
  height: 350px;
  border: 1px solid white;
  padding: 10px;
  box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  margin: 10px;
}

.listcard:hover {
  transition: 0.5s;
  box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
}

.body {
  height: 250px;
}

.button {
  transition: 0.5s;
  height: 40px;
  width: 100px;
  margin: 5px;
  border: 1px solid white;
  box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
}
.button:hover {
  transition: 0.5s;
  box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
  font-size: 17px;
}

.delete {
  background-color: #dc2625;
}

.etc-btn {
  background-color: #f49e0b;
}

.list-data {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 70px;
}

h3 {
  text-align: center;
  font-size: 30px;
}
.notes-list__empty-message {
  font-size: 20px;
  text-align: center;
}
.fix {
  position: fixed;
  width: 783px;
}
